<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
</head>
<body>
        <h2>Give appropriate username and password.</h2>
        <form action="Welcome.html" method="get">
    <label for="username">Username:</label>
    <input type="text" id="username" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" required>
    
    <button type="submit">Login!</button>
</form>
        <script src="/static/valid.js"></script>
</body>
</html>